#
# GlobalServer 配置文件
#

#
# 全局配置
#
# loglevel          - 日志等级, 4-INFO, 5-TRACE, 6-DEBUG
# logfilesize       - 日志文件大小100M
#

[Global]
loglevel        = 6
logfilesize     = 104857600

#
# GM服务
#
# bindhost 			绑定的IP地址
# listenport 		监听的端口号
# timeoutseconds 	超时时间
#
[GMService]
bindhost                = 127.0.0.1
listenport              = 11112
timeoutseconds          = 30

###############################################################################
# 框架配置
###############################################################################

#
# 服务器类型标识
# 	1. 网关服务器(Gate)
# 	2. 场景服务器(Scene)
# 	3. 世界服务器(World)
# 	4. 副本服务器(Copy)
# 	5. 社交服务器(Social)
# 	6. 数据服务器(Data)
# 	7. 登录服务器(Login)
#   8. 管理服务器(Master)
#   11.全局服务器(Global)
#   12.中转服务器(Transit)
#   13.跨服服务器(Cross)
#
#
# 格式说明
#	端口说明 10721 : 1:暂无意义
#					 07:服务器类型
#					 2:代表此端口谁在使用 值为1是二货张磊   2是海枝哥哥   3是邹海滨
#					 1:代表内外网 值为1是内网ip 2是外网ip
#
# 	id = type:内网ip:内网port:外网ip:外网port:进程标识
#
#	单区的服务器ID必须小于128
# 	集群的服务器ID必须大于128
#
# 	没有的项目留空即可
# 	内网服务器不需要配置外网的ip和port
# 	网关服务器不需要配置内网的port
#

[Framework]
threadcount 	= 2
sessiontimeout 	= 30
host129          = 11:127.0.0.1:11111:::globald:
host130          = 12:127.0.0.1:11211:127.0.0.1:11221:transitd:
host131          = 13:127.0.0.1:11311:::crossd:12
host132          = 6:127.0.0.1:10611:::datad:
